nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="#")
    img(width="30" height="30" src="/images/LogoTwitter.jpg")
  button.navbar-toggler(type="button")
    span.navbar-toggler-icon
  div.collapse.navbar-collapse
    ul.navbar-nav.ms-auto
      li.nav-item.active
        a.btn.btn-primary.btn-tweet(href="/tweet/new") Tweet
      li.nav-item
        a.nav-link(href="#") Connexion