nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="/tweets")
    img(width="30" height="30" src="/images/LogoTwitter.jpg")
  button.navbar-toggler(type="button")
    span.navbar-toggler-icon
  div.collapse.navbar-collapse
    ul.navbar-nav.ms-auto
      if isAuthenticated
        li.nav-item.active
          a.btn.btn-primary.btn-tweet(href="/tweets/tweet/new") Tweet
          li.nav-item.active
          a.btn.btn-primary.btn-tweet(href="/auth/signout") Deconnexion
      else
        li.nav-item
          a.nav-link(href="/auth/signin/form") Connexion
        li.nav-item
          a.nav-link(href="/users/signup/form") Inscription