if tweets && tweets.length
    each tweet in tweets 
        div(class="card tweet-element")
            div(class="card-body")
                div(class="card-text")= tweet.content
                a(href="/tweets/edit/" + tweet._id class="btn btn-secondary mr-2") Edit
            button(class="btn btn-danger float-right" tweetid=tweet._id) X
else 
    div Aucun tweet.